<div class="container" style="margin-bottom: 105px;">
    <?php $i=0; foreach ($banners as $banner) { ?>
        <?php if($i==0){ ?>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 images_style " style="text-align: center; float: right; ">
            <p class="our_client">НАШИ КЛИЕНТЫ</p>
        <?php } ?>
        <?php if(($i==6)||($i==11)){ ?>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 images_style " style="text-align: center; float: right; ">
        <?php } ?>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 log1" style="margin-top: 80px">
                <img src="<?php echo $banner['image']; ?>">
            </div>
        <?php if(($i==5)||($i==10)){ ?>
            </div>
        <?php } ?>
    <?php $i++; }  ?>
    </div>
</div>
</div>



