<div class="container">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: -1px; padding:0px; border-top: 1px solid #ddd;">
  <?php $i=1; foreach ($categories['0']['children'] as $category) {  ?>
  <div class="blocks col-xs-12 col-sm-6 col-md-4 centr_text" style="border-top: 0px; background-color: white; color: rgb(242, 73, 65);">
    <div class="col-xs-10 "> <a href="<?php echo $category['href']; ?>" style="text-decoration: none; color: rgb(242, 73, 65);"><?php echo $category['name']; ?></a>
    </div>
    <div class="img_change<?php echo $i; ?> col-xs-2">
    </div>

  </div>



  <?php $i++; }  ?>
</div>



