footer a {
    color: #393939;
}
.blocks:hover{
    background-color: rgb(242, 73, 65)!important;
    color: rgb(250, 253, 253)!important;
}
.blocks:hover a{
    color: rgb(250, 253, 253)!important;
}

.our-team{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.div-center{
    text-align: center;
}
.div-center > div{
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 14px;
   font-family: "ProximaNova";
   color: rgb(0, 0, 0);
}
.title{

   font-size: 14px;
  
}
.pic > img{
    padding: 10px;
	float: left;
}
.pic {
   padding-left: 10px;
}
.pics > img{
    width: 100%;
}
.pics {
	width: 25%;
    display: inline-block;
    float: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 194, 194);
  background-color: rgb(255, 255, 255);
}
.picss{
	width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    background-color: rgb(255, 255, 255);
}
@media (max-width: 767px){
    .btn-my-xs{
        padding: 8px 16px !important;
        bottom: 2px;
    }
}
@media (min-width: 768px){
    .search{
        line-height: 15px;
    }
}
.search{
    font-size: 15px;
    color: #ebc9c7;
    background: #f24941;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #f24941;
}
.search:hover{
    background-color: #343434;
    color: #f24941;
    border-color: #f24941;
}
.search:active{
    background-color: #343434!important;
    color: #f24941!important;
    border-color: #f24941;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
width: 100%;
}
.mobile_center{
	padding-right: 13%;
    padding-left: 13%;
}
.body_info{
	word-wrap: break-word;
}
.dropdown-menu{
	
    min-width: 100%;
}
.blocks:hover .img_change1{

    background-image: url(/catalog/view/theme/default/img/homic_red2.png);
}
.blocks:hover .img_change2{

    background-image: url(/catalog/view/theme/default/img/homic_red6.png);
}
.blocks:hover .img_change3{
    background-image: url(/catalog/view/theme/default/img/homic_red5.png);
}
.blocks:hover .img_change4{
    background-image: url(/catalog/view/theme/default/img/homic_red3.png);

}
.blocks:hover .img_change5{
    background-image: url(/catalog/view/theme/default/img/homic_red4.png);

}
.blocks:hover .img_change6{
    background-image: url(/catalog/view/theme/default/img/homic_red1.png);

}
.img_change1 {
    background-repeat: no-repeat;
    height: 40px;
    background-image: url(/catalog/view/theme/default/img/homic2.png);
}
.img_change2{
	background-repeat: no-repeat;
    height: 40px;
    background-image: url(/catalog/view/theme/default/img/homic6.png);
}
.img_change3{
	background-repeat: no-repeat;
    height: 40px;
    background-image: url(/catalog/view/theme/default/img/homic5.png);
}
.img_change4{
	background-repeat: no-repeat;
    height: 40px;
    background-image: url(/catalog/view/theme/default/img/homic3.png);
}
.img_change5{
	background-repeat: no-repeat;
    height: 40px;
    background-image: url(/catalog/view/theme/default/img/homic4.png);
}
.img_change6{
	background-repeat: no-repeat;
    height: 40px;
    background-image: url(/catalog/view/theme/default/img/homic1.png);
}
.navbar-default .navbar-nav>.open>a {
    background-color: #343434!important;	
	color: #e1e1e1!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: none;
}
.active>a{
	margin-right: 0px!important;
	border-radius: 0px 0px 0 0!important;
}
li.active{
	
	border-top: 2px solid red!important;
}


