@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: ProximaNova; /* Гарнитура шрифта */
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular')  format('svg'),
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova_Light; /* Гарнитура шрифта */
    src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light')  format('svg'),
         url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), 
         url('../fonts/ProximaNova-Regular/ProximaNova-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: ProximaNovafff;
    src: url('../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadProSemiBold/MyriadProSemiBold.woff') format('woff'), 
        url('../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: ProximaNovaSemiBold;
    src: url('../fonts/ProximaNova-SemiBold/ProximaNova-Semibold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: ProximaNovaThin;
    src: url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.svg#ProximaNovaT-Thin')  format('svg'),
         url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.woff') format('woff'), 
         url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
.header_line{
	background-color: #dddddd;
    width: 200%;
}
.modal-img-my-send{
    width: 100%;
    text-align: center;
}
.modal-text-my-send{
    width: 100%;
    text-align: center;
}
.title-contact-us{
    font-weight: 600;
    color: #393939;
    font-family: "ProximaNova";
}
.locat-contact-us{
    font-weight: 600;
    color: #393939;
    font-family: "ProximaNova";
}
.text-contact-my-strong strong{
    color: #393939;
    font-family: "ProximaNova";
}
.myButton-style{
    padding: 10px 60px 10px;
    font-family: "ProximaNova";
    background-color: #f24941;
    border:0px solid #f24941;
    color: white;
    font-size: 15px;     
}
.myButton-style:hover{
    background-color: #f24941;
    border-color: #f24941;
    color:white;
}
.myButton-style:active{
    background-color: #f24941;
    border-color: #f24941;
}
.pull-right{
    margin-bottom: 20px;
}
.my-butttons-mob{
    width: 100%;
}
@media (max-width: 767px){
    .pull-right{
        float: right !important;
    }
    .input_header_login{
        bottom: 1px;
    }
}
.form-title-contsct{
    font-family: "ProximaNova";
    font-weight: 600;
}
.lable-style-contact{
    font-family: "ProximaNova";
    font-weight: 600;
}
.owl-nav{
    display: none !important;
}
@media (max-width: 1169px) {
    .hidden2{
        overflow: hidden!important;
    }
}
@media (max-width: 910px) {
    .header_line{
            width: 171%;
    }
	
}
@media screen and (min-width: 900px) {
    .header_line{
            width: 150%;
    }
}
@media screen and (min-width: 1900px) {
    .header_line{
            width: 200%;
    }
}
@media (min-width: 1170px) {
    .hedden{
       /* overflow: hidden;*/
    }
}
.container_sviat{
    min-width: 1366px;
}
.header_menu{
    height:40px;
}
.menue_golovne{
    border-radius: 0px!important;
    border: none!important;

}
.menue_golovne .text:hover {
    border-radius: 0px!important;
    background-color: #343434!important;
    color: #e1e1e1!important;
}
.menue_golovne .text{
    font-family: "ProximaNova"!important;
    color: #343434!important;
}
.header{
    margin-top: 10px;
    height: 110px;
    background-repeat: no-repeat;

}
.input_header_login{
    border: none;
    height: 40px;
}
.input_header_mob{
    border: none;
    width: 200px;
    background-color: #343434;
    height: 40px;
    float: right;
    padding-top: 6px;
}
.input_header_mob a {
    text-align: center;
    color: #fafdfd;
    font-family: "ProximaNova";
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
}


.input_call_header{
    float: right;
    background-repeat: no-repeat;
    background-image: url("../img/call.jpg");
    height: 41px;
    width: 47px;
    border: none;
    cursor: pointer;
}

.input_header_login a{
    text-decoration: none;
    color: #83969f;
    font-family: "ProximaNova";
    font-weight: 800;
    font-size: 15px;
}
.input_header_login p{
    height: 40px;   
    padding-top: 10px;
    padding-left: 35px;
}

.input_header{
    padding-top: 24px;
}
.body_style{
    margin-left: 218.5px;
    margin-right: 207.5px;
}
.blocks{
    cursor: pointer;
    font-size: 16px;
    font-family: "ProximaNova";
    background-repeat: no-repeat;
    height: 90px;
    border: 1px solid #ddd;
    background-position: 270px;
    color: #f24941;
    float: left!important;
    padding-left: 20px!important;
    padding-right: 17px!important;
}
/*.blocks:hover{
    background-image: url("../img/homic_red.jpg");
    background-color: #f24941;
    background-position: 270px;
    color: #fafdfd;

}*/
.body_info{


}
.body_info_right{
    border: 1px solid #ddd;
}
.in_over{
    margin: 0px 3px 0px;
    padding: 3px 14px 1px;
    font-size: 15px;
    font-family: "ProximaNova";
    color: #8e8e8e;
    background-color: #ffffff;
    border: 1px solid #ddd;
}
.in_over:hover{
    background-color: #ffffff;
    border: 1px solid #f24941;
}
.title_texy_button_right{
    padding-top: 22px;
    font-size: 16px;
    font-family: "ProximaNova";
    color: #6b6b6b;
    font-weight: 600;
}
.button_give{
    letter-spacing: 0.07em;
    padding: 8px 20px 8px;
    font-size: 19px;
    font-family: "ProximaNova";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #f24941;
}
.new-select-style-wpandyou {
    border: 1px solid #CCC;
    overflow: hidden!important;
    height: 34px;
    background: url(../img/rowselect.jpg) no-repeat right!important;
    width: 240px;
    -webkit-appearance: none;
}
.watch_resolt{
    padding-top: 2px;
    font-size: 12px;
    color: #a6a6a6;
    font-family: "ProximaNova";
    float: right;

}
.text_decotation_col{
    padding-top: 9px;
    font-size: 15px;
    font-family: "ProximaNova";
    text-align: center;
    color: #000000;
}
.img_center{
    text-align: center;
}
.img_center div{
    height: 118px;
}
.text_title_body{
    font-size: 15px;
    font-family: "ProximaNova";
    color: #000000;
}
.text_title_body b{
    font-family: "ProximaNova";
    color: #f24941;
    font-size: 16px;
}
.title_cols{
    padding-bottom: 4px;
    padding-top: 4px;
    font-family: "ProximaNova";
    color: black;
    font-size: 20px;
    font-weight: 600;

}
.text_product{
    cursor: pointer;
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 4px;
    font-family: "ProximaNova";
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.text_product_new{
    cursor: pointer;
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 4px;
    font-family: "ProximaNova";
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.button_about{
    border: 0px!important;
    padding: 9px 34px 8px;
    font-size: 16px;
    font-family: "ProximaNovaSemiBold";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #f24941;
    margin-left: 58px;
}
.button_about_nev{
    border: 0px!important;
    padding: 9px 34px 8px;
    font-size: 16px;
    font-family: "ProximaNovaSemiBold";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #f24941;
    margin-left: 58px;
}

.ul_decoration{
    padding: 0px;
    padding-left: 25px;
}
.ul_decoration li{
    color: #8b8b8b;
    font-family: "ProximaNova";
    font-size: 13px;
    list-style: disc;
    font-weight: 600;
}
.ul_decoration li b{
    color: #414141;

}
.text_style_img p{
    font-size: 14px;
    color: #8b8b8b;
    font-family: "ProximaNova";
}
.title_stat{
    padding-left: 0px !important;
    font-size: 16px;
    color: #f24941;
    float: right;
    font-family: ProximaNova;

}
.title_table{
    font-weight: 600;
    color: #393939;
    font-family: "ProximaNova";
}
.text_table{
    color: #5b5b5b;
    font-family: "ProximaNova";
    font-size: 14px;
}
.data_table{
    font-style: italic;
    color: #393939;
    font-family: "ProximaNova";
    font-size: 16px;
}
.images_style:hover{

 }

.images_style p {
    cursor: pointer;
}
.log1{
    height: 63px;
    
    background-repeat: no-repeat;
    background-position: center;
}
.log1 img{
    cursor: pointer;
    -webkit-filter: grayscale(100%);
}
.log1 img:hover{
   /* height: 63px;*/
    -webkit-filter: none;
    background-repeat: no-repeat;
    background-position: center;
}
.input_foter{
    border: 1px solid #f24941;
    padding-left: 20px;
    height: 37px;
   /* background-repeat: no-repeat;
    background-position: right;
    background-image: url("../img/search.png");*/
}
.foter_log{
    position: absolute;
    margin-top: 28%;
    margin-left: 15px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url("../img/logo.jpg");
}
.foter_log p{
    color: #000000;
    font-family: "ProximaNova";
    font-size: 14px;
    margin-left: 230px;
    font-weight: 600;
}
.foter_right_menu{
    width: 100%;
    height: 37px;
    padding-left: 10px;
}
.button_foter{

    width: 100%;
    padding: 15px 12px 15px;
    font-size: 14px;
    font-family: "ProximaNovaSemiBold";
    color: #ffffff;
    background-color: #ffffff;
    border: 0px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #343434;

}
.title_right_foter{
    font-size: 21px;
    padding-top: 15px;
    font-family: "MyriadProRegular";
    color: #ffffff;
}
.text_right_foter{
    color: #ffffff;
    font-family: "MyriadProRegular";
    font-size: 13px;
}
.menu_button{
    float: right!important;
}
.m1{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;

}
.m2{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.m3{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.m4{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.m5{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.m6{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.m7{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.m8{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.m9{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.text_menu_style p{
   margin: 0 0 20px;
}
.m33{
    background-position-y: 40px;
    padding-left: 44px;
    padding-bottom: 116px;
    height: 123px;
    background-repeat: no-repeat;
}
.m10{
     padding-left: 44px;
     background-repeat: no-repeat;
     padding-top: 11px;
 }
.m11{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.m12{
    padding-left: 44px;
    background-repeat: no-repeat;
    padding-top: 11px;
}
.menu_button img{
    float: left;
}
.menu_button_1 img{
    float: left;
}
.menu_mobile_footer{
    margin-left: 100px
}
.our_client{
    text-align: left;
    font-size: 16px;
    color: #f24941;
    font-family: ProximaNova;
    padding-top: 130px; margin: 0px;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .foter_log{

        margin-top: 36%;
    }
}
@media (min-width: 768px) and (max-width: 991px){

    .foter_log{

        margin-top: 85%;
    }
    .input_foter{
        width: 320px;
    }

    .menu_mobile_footer{
        margin-left: 0px;
    }
}
@media (min-width: 992px) {
    .line_style{
        padding-left: 35px!important;
        border-left: 1px solid #ddd;
    }
    .input_foter{
        width: 360px; 
    }
}

@media (min-width: 768px) {
    .foter_log1{
        display: none;
    }
    .input_foter{
        float: left; 
    }
    .span-btn-search{
        float: left; 
    }
    .title_table{
        font-size: 16px;
    }
    .text_table{
        font-size: 14px;
    }
    .menue_golovne .text{
        font-size: 16px !important;
    }
    
}
@media (max-width: 767px) {
    .menue_golovne .text{
        font-size: 20px !important;
    }
    .title_table{
        font-size: 20px;
    }
    .text_table{
        font-size: 18px;
    }
    .input_foter{
        display: inline-block; 
        width: 360px;
    }
    .span-btn-search{
        display: inline-block; 
        right: 3px;
    }
    .input_header_login p {
        padding-left: 21px;
    }
    .input_header_mob {
        width: 160px;
    }
    .input_header_mob a {
        font-size: 19px;
    }
    .logo_in_header{
        text-align: center;
    }

    .header {
        height: 220px;
    }
    .input_header_mob{
        float: left;
    }
    .input_call_header{
        float: left;
    }

    .text_table{
        text-align: left;
    }
    .data_table{
        text-align: left;
    }
    .menu_mobile_footer{
        height: 340px !important;
    }
    .img_center img{
        width: 50px;
        height: 50px;
    }
    .text_decotation_col {
        font-size: 18px;
    }
    .img_center div {
        height: 138px;
    }
    .our_client{
        text-align: center;
        font-size: 16px;
        color: #f24941;
        font-family: ProximaNova;
        padding-top: 0px; margin: 0px;
    }
    .novosty_company{
        margin-top: 32px!important;
    }

    .allfooter_mob{
        text-align: center;
    }
    .foter_log1{
        text-align: center!important;
    }
    .foter_log1 p{
        color: #000000;
        font-family: "ProximaNova";
        font-size: 14px;
        font-weight: 600;
    }
    .foter_log{
        display: none;
    }
    .input_padding{
        padding-left: 0px!important;
    }
    .row1{
        padding-top: 20px;
        text-align: center;
    }
    .mobile_center{
        text-align: center;
    }
    .button_about {
        margin-left: 0px;
    }
    .menu_mobile_footer{
        margin-left: 0px;
    }
}
.centr_text{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*Andriy*/
.title-head-body{
    padding-top: 26px;
    font-size: 22px;
    color: #111111;
    font-family: ProximaNova;
    font-weight: 600;
}
.mytext-title-body-one{
    font-size: 15px;
    color: #535353;
    font-family: ProximaNova;
}
.mytext-title-body-two{
    font-size: 15px;
    color: #535353;
    font-family: ProximaNova;
}
.mytext-punct-body{
    padding-left: 0px;
}
.mytext-punct-body p{
    margin: 0;
    font-family: "ProximaNova";
    font-size: 15px;
}
.title_cols-body{
    font-family: "ProximaNova";
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.subscribe-add-button{
    color: #111111;
    font-size: 16px;
    font-family: ProximaNova;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: #8f8f8f;
    cursor: pointer;
}
.subscribe-add-button:hover{
    color: #111111;
    font-size: 16px;
    font-family: ProximaNova;
    font-weight: 900;
    text-decoration-color: #8f8f8f;
}
.information-class-my{
    margin-top: 20px;
}
.list-two-button-subscribe{
    color: #f24941;
    font-size: 16px;
    font-family: ProximaNova;
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: #f9afac;
}
.list-two-button-subscribe:hover{
    color: #f24941;
    font-size: 16px;
    font-family: ProximaNova;
    font-weight: 900;
    text-decoration-color: #f9afac;
}
.name-information{
    text-align: right;
    color: black;
    font-family: ProximaNova; 
    font-size: 16px;
    font-weight: 600;
}
.myClose{
    width: 6%;
    border: 3px solid gray !important;
    border-radius: 20px;
    background: transparent;
    font-size: 21px;
    font-weight: 700;
}
.modal-title{
    font-size: 25px;
    color: black;
    font-family: ProximaNova;
}
.same-heght-width input{
    width: 54%;
    height: 40px;
    font-family: ProximaNova;
    padding-left: 11px;
    border:1px solid #d4d4d4;
}
.one-modal-input{
    margin-top: 10px;
}
.two-modal-input{
    margin-top: 10px;
}
.three-modal-input{
    margin-top: 10px;
    margin-bottom: 30px;
}
.myButtonPersonal{
    background-color: #f24941;
    color: white;
    font-family: ProximaNova;
    padding: 11px 35px 11px 35px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}
.myButtonPersonal:hover{
    text-decoration: none;
    color: white;
}
.my-class-text-right{
    text-align: right;
}
.exit-img-class{
    display: inline-block;
    cursor: pointer;
}
.info-modal-style{
    width: 55%;
    margin-top: 35px;
    display: inline-block; 
    color: #f3554e;
}
.info-modal-style p{
    text-decoration: underline;
}
.mytext-title-body{
    font-size: 15px;
    font-family: ProximaNova;
    font-weight: 800;
    color: #686868;
}
.my-mob-title{
    padding-top: 26px;
    font-size: 22px;
    color: #111111;
    font-family: ProximaNova;
    font-weight: 600;
}
@media (min-width: 768px){
    .image-title-cost{
        border: 1px solid #c2c2c2;
        height: 322px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
.image-title-cost img{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.image-title-cost {
    border: 1px solid #c2c2c2;
}
.mytitle_table{
    font-size: 18px;
    font-family: ProximaNovaSemiBold;
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #cfcfcf; 
    color: #414141;
}
.mytitle_table:hover{
    color: #f24941;
    text-decoration: underline;
}
.for-image-my{
    font-family: ProximaNova;
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}
.for-image-my{
    padding-top:13px;
}
@media(min-width:768px){
    .my-button-table{
        text-align: right;
    }
    .for-right-text{
        text-align: right;
    }
}
.next-page-style ul{
    padding-left: 0px;
    list-style:none;
    display: inline-block;
}
.next-page-style ul li{
    display: inline-block;
    cursor: pointer;
}
.next-page-style li a{
    font-family: ProximaNova_Light;
    color: #f24941;
    padding: 0px 6px;
    text-decoration:none;
}
.my-button-about{
    font-family: ProximaNovaSemiBold;
    font-size: 14px;
}
.my-class-product{
    margin-top: 10px;
}
.my-class-for-product ul{
    padding-left: 11px;
}
.my-class-for-product ul li{
    font: 16px ProximaNova;
    color: #323232;
    background: url(/catalog/view/theme/default/img/li-pinpochka.png) no-repeat left center;
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
}
.my-class-for-product li a{
    color: #323232;
}
.pad-zerro-my{
    padding: 0 !important;
}
.chek-button-my-one{
    border: 0px!important;
    padding: 14px 22px 14px;
    font-size: 16px;
    font-family: "ProximaNova";
    color: #ffffff;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #343434;
}
.chek-button-my-two{
    border: 0px!important;
    padding: 14px 58px 14px;
    font-size: 16px;
    font-family: "ProximaNova";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #f24941;
}
@media(min-width: 1200px){
    .right-my{
        text-align: right;
    }
    .chek-button-my-two{
        margin-left: 58px;
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    .chek-button-my-two{
        margin-left: 24px;
    }
    .text-my-button-right{
        text-align: center;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .chek-button-my-two{
        margin-left: 0px;
    }
    .chek-button-my-one{
        margin-left: 0px;
    }
    .text-my-button-right{
        text-align: center;
    }

}
.lef-right-my-padd{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
@media(min-width: 768px){
    .padd-my-top{
        margin-top: 10px;
    }
}
@media(min-width:420px) and (max-width: 767px){
    .text-my-button-right{
        text-align: center;
    }
    
    .padd-my-top{
        padding-top: 10px;
    }
    .image-look-my{
        text-align: center;
    }
}
@media(min-width: 420px) and (max-width: 500px){
    .image-look-my img{
        width: 100%;
    }
}
.title-span-my{
    font-family: ProximaNova;
    font-size: 15px;
}
.body-span-my{
    font-family: ProximaNova;
    font-size: 13px;
}
.padd-left-my-style{
    padding-left: 23px !important;
}
.vertical-align {
    display: table;
    table-layout: fixed;
}
.my-align-text{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
@media (min-width: 1200px){
    .center-text-my-style{
        text-align: center;
    }
}
.all-show-style{
    font-family: ProximaNova_Light;
    color: #5e5e5e;
    font-size: 18px;
    border-bottom: 1.5px solid #d7d7d7;
}
.next-page-style-my{
    font-family: ProximaNova_Light;
    color: #5e5e5e;
    font-size: 18px; 
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px solid #c4c4c4;
}
.for-padding-style-my{
    border: 1px solid #c2c2c2; 
    margin-bottom: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px;
}
.text-color-style-my-one{
    color: #323232;
}
.text-color-style-my-two{
    color: #838383;
}
.no-padding{
 padding: 0px !important;   
}
@media (min-width: 992px) and (max-width: 1199px){
    .padd-left-none{
        padding-left: 20px !important;
    }
}
.text-size-my{
    font-size: 14px;
}
.my-image-table{
    padding: 0 !important
}
.no-padd-for-my{
    padding-left: 0px !important;
}
.my-breadcrumb-style{
    background-color: #ffffff;
}
.my-breadcrumb-style a{
    color: #f24941;
    font-family: ProximaNova;
}
footer a:hover{
    color:#f24941;
    text-decoration: none;
}
.title-category-text{
    font-family: "ProximaNova";
}
.tetx-style-categories{
    font-family: "ProximaNova";
}
.tetx-style-categories ul{
    list-style: none;
}
.tetx-style-categories a{
    color: #393939;
}
.tetx-style-categories a:hover{
    color: #f24941;
}
.style-text-refine{
    font-family: "ProximaNova";
}
.my-text-product-style{
    font-family: ProximaNova;
    color: #393939;
}
.my-text-product-style a {
    color: #393939;
    text-decoration: none;
}
.my-text-product-style a:hover {
    color: #f24941;
}
.style-text-product{
    font-family: ProximaNova;
}
.style-text-product a{
    color: #393939;
}
.for-ul-style li{
    padding-top: 7px;
    font: 500 16px ProximaNova;
    color: #f24840;
}
.marg-none{
    margin-bottom: 0px !important;
    float: left;
}
/*Andriy*/