<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-news" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
				<h1><?php echo $heading_title; ?></h1>
				<ul class="breadcrumb">
					<?php foreach ($breadcrumbs as $breadcrumb) { ?>
					<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
					<?php } ?>
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			<?php if ($error_warning) { ?>
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<?php } ?>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
				</div>
				<div class="panel-body">
					<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-news" class="form-horizontal">
						<ul class="nav nav-tabs">
							
							<li class="active"><a href="#tab-data" data-toggle="tab"><?php echo $tab_data; ?></a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-data">
							    <div class="form-group">
									<label class="col-sm-12 text-center">PDF</label>
									
                                    <?php $i=1; foreach ($pdfarr as $value) { ?>
							             <div class="col-sm-4"><a href="" id="thumb-image13" data-toggle="image" class="img-thumbnail"><img src="/files/pdf.png" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a><?php echo 'PDF №'.$i; ?>
									<input type="hidden" name="pdf<?php echo $i; ?>" id="input-image13" />
								    </div>
                                    <?php $i++; } ?>

							</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
									<div class="col-sm-10">
										<select name="status" id="input-status" class="form-control">
											<?php if ($status) { ?>
											<option value="1" selected="selected"><?php echo $text_enabled; ?></option>
											<option value="0"><?php echo $text_disabled; ?></option>
											<?php } else { ?>
											<option value="1"><?php echo $text_enabled; ?></option>
											<option value="0" selected="selected"><?php echo $text_disabled; ?></option>
											<?php } ?>
										</select>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript"><!--
		<?php foreach ($languages as $language) { ?>
			<?php if ($ckeditor) { ?>
					ckeditorInit('input-description<?php echo $language['language_id']; ?>', '<?php echo $token; ?>');
				<?php } else { ?>
					$('#input-description<?php echo $language['language_id']; ?>').summernote({
					height: 300
				});
			<?php } ?>
		<?php } ?>
		$('.date').datetimepicker({
			pickTime: false
		});
		$('#language a:first').tab('show');
	//--></script></div>
	<?php echo $footer; ?>